@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../../fonts/Roboto.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Rosario";

  font-display: swap;
  src:
    url("../../fonts/Rosario-Bold.woff2") format("woff2");
}
