.main-header {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;

  &-mob__list {
    display: none;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__icon {
    width: 18px;
    height: 18px;
  }

  &__wrapper {
    width: 100%;
    max-width: 523px;
    margin-right: 25px;
  }

  &__list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  &__search {
    box-sizing: border-box;
    max-width: 523px;
    width: 100%;
    padding: 10px 18px;
    border-radius: 100px;
    border: 2px solid rgba(221, 221, 221, 1);
    display: flex;
    gap: 6px;


    &--input {
      width: 100%;
      border: none;
      font-size: 16px;
      line-height: 19px;
      font-family: 'Roboto';

      &::placeholder {
        font-size: 16px;
        line-height: 19px;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main-header {
    max-width: 728px;
  }

  .main-header__search {
    max-width: 299px;
  }

  .main-header__item-description {
    display: none;
  }

  .main-header__wrapper {
    max-width: 299px;
    margin-right: 35px;
  }

  .main-header__icon {
    width: 24px;
    height: 24px;
  }

  .main-header__list {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .main-header {
    &__top {
    display: flex;
    flex-direction: column;
    align-items: start;
    }

    &-mob__wrapper {
      display: flex;
      align-items: center;
    }

    &-mob__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 24px;
    }

    &__search {
      margin: 0;
      max-width: 261px;
    }

    &__list {
      display: none;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
